<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="101300468" android:versionName="1.1.2212272255.300468" package="com.htc.htccompressviewer"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.android.email.permission.READ_ATTACHMENT" />
    <application android:theme="@style/ThemePreview" android:label="@string/app_name" android:hardwareAccelerated="false" allowSkinChange="true">
        <activity android:theme="@style/no_window_content_overlay" android:name=".CompressViewer" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
            </intent-filter>
        </activity>
    </application>
</manifest>