<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="107358183" android:versionName="1.7.2214162113.358183" package="com.htc.dlnamiddlelayer"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:hardwareAccelerated="false" allowSkinChange="true">
        <service android:name=".DLNAService">
            <intent-filter>
                <action android:name="com.htc.dlnainterface.IDLNAPluginService" />
            </intent-filter>
        </service>
        <provider android:name=".provider.DLNAProvider" android:authorities="dlna" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.htc.music.permission.ENHANCER_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>