<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="15" android:versionName="4.0.3-eng.root.20120521.200755" package="com.android.backupconfirm"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.BACKUP" />
    <application android:allowClearUserData="false" android:permission="android.permission.CONFIRM_FULL_BACKUP" android:allowBackup="false">
        <activity android:name=".BackupRestoreConfirmation" android:exported="true" android:excludeFromRecents="true" android:title="" android:windowSoftInputMode="stateAlwaysHidden" />
    </application>
</manifest>