<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="105365106" android:versionName="1.5.2214261227.365106" package="com.htc.android.locationpicker"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="com.htc.laputa.permission.FOOTPRINTPICKER" />
    <uses-permission android:name="com.htc.laputa.installer.HLI_SERVICE" />
    <uses-permission android:name="com.htc.laputa.permission.LB_CONTENT_PROVIDER" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:description="@string/htc_company_short_name" android:hardwareAccelerated="false" allowSkinChange="true">
        <uses-library android:name="com.google.android.maps" android:required="false" />
        <activity android:theme="@style/ThemeSkinChangeBkg" android:label="@string/app_name" android:name=".LocationMapPicker" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/ThemeTransparent" android:label="@string/app_name" android:name=".PickerMain" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.htc.android.locationpicker" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.LocationPicker_Mgr_Activity" android:name=".LocationPickerManager" android:screenOrientation="sensor" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.htc.laputa.map.action.SHOW_LOCATION_MGR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.laputa.map.action.REVERSE_ADDR_ON_MAP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.laputa.map.action.REVERSE_GEOCODE_ON_MAP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.laputa.map.action.NAVI_PICK_DEST_FROM_MAP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>