<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="305370551" android:versionName="3.5.2214343165.370551" package="com.htc.lockscreen" coreApp="true"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="@string/htc_private_app" android:icon="@drawable/icon" android:description="@string/htc_corp" android:hardwareAccelerated="false" allowSkinChange="true" />
</manifest>