<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="com.htc.rosie.uid.shared" android:versionCode="300308275" android:versionName="3.0.2212302027.308275" package="com.htc.clock3dwidget" coreApp="true"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <skip-erased />
    <application android:label="@string/app_name" android:icon="@drawable/clock" android:hardwareAccelerated="false" allowSkinChange="true">
        <uses-library android:name="com.htc.android.rosie" />
        <uses-library android:name="com.htc.fusion.fx" />
        <uses-library android:name="com.htc.lockscreen.fusion" />
        <uses-feature android:name="com.htc.android.rosie.widget" />
        <receiver android:label="@string/clock_widget_provider_label" android:icon="@drawable/clock" android:name="com.htc.clock3dwidget.ClockWidgetProvider" android:exported="true">
            <intent-filter>
                <action android:name="com.htc.android.rosie.intent.action.UPDATE_WIDGET" />
            </intent-filter>
            <meta-data android:name="com.htc.android.rosie.widget.provider" android:resource="@xml/clock_widget" />
        </receiver>
        <service android:label="@string/clock_widget_provider_label" android:name=".idlescreen.IdleScreenClockService">
            <intent-filter>
                <action android:name="com.htc.lockscreen.idlescreen.IdleScreenService" />
            </intent-filter>
            <meta-data android:name="com.htc.lockscreen.idlescreen" android:resource="@xml/idle_screen_clock" />
        </service>
        <service android:name=".idlescreen.IdleScreenPreviewService" android:process=":preview">
            <intent-filter>
                <action android:name="com.htc.lockscreen.idlescreen.preview.IdleScreenService" />
            </intent-filter>
        </service>
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/settings" android:name=".idlescreen.IdleScreenSettings" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/ThemeTitle" android:label="@string/app_name" android:name=".setting.HtcWWPSetting" android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="OpenWWPSettings" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/ThemeTitle" android:name=".setting.HtcClockSetting" android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="OpenSettings" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.widget.clockwidget/open_settings" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/ThemeTitle" android:name=".setting.ConfigWeatherClock" android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="OpenSettings" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.widget.clockwidget/open_settings" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/ThemeTitle" android:name=".setting.ConfigAnalogClock" android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="OpenSettings" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.widget.clockwidget/open_settings" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/ThemeTitle" android:name=".setting.ConfigDigitalClock" android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="OpenSettings" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.widget.clockwidget/open_settings" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/ThemeTitle" android:name=".setting.ConfigDualClock" android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="OpenSettings" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.widget.clockwidget/open_settings" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="com.htc.htctwitter.permission.useprovider" />
    <uses-permission android:name="com.htc.socialnetwork.plurk.permission.useprovider" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="htc.permission.weather.USE_DATA" />
    <uses-permission android:name="htc.friendstream.permission.SYSTEM_USE" />
    <uses-permission android:name="htc.pluginmanager.permission.USE_PROVIDER" />
</manifest>