<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="308369006" android:versionName="3.8.2214342341.369006" package="com.htc.Weather"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="htc.permission.weather.RECEIVER" />
    <uses-permission android:name="htc.permission.weather.USE_DATA" />
    <uses-permission android:name="htc.pluginmanager.permission.USE_PROVIDER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:description="@string/license" android:hardwareAccelerated="false" allowSkinChange="true">
        <uses-library android:name="com.htc.fusion.fx" />
        <activity android:theme="@style/Hero" android:label="@string/app_name" android:name=".WeatherActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.htc.Weather.intent.action.LOCATE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value="*" />
        </activity>
        <activity android:theme="@style/Hero_layer2" android:name=".WeatherDetail" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data android:name="android.app.default_searchable" android:value="*" />
        </activity>
        <activity android:theme="@style/Hero_layer2" android:label="@string/weather_menu1" android:name=".AddCity" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.htc.Weather.intent.action.SEARCH_ONLY" />
                <action android:name="com.htc.Weather.intent.action.SEARCH" />
                <action android:name="com.htc.Weather.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.htc.Weather/addcity" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value="*" />
        </activity>
        <activity android:theme="@style/Hero_layer2" android:name=".DeleteAndRearrangeCity" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data android:name="android.app.default_searchable" android:value="*" />
        </activity>
        <activity android:theme="@style/ThemeNoTitle" android:label="@string/weather_setting" android:name=".WeatherSettings" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value="*" />
        </activity>
        <activity android:name=".StorageFull" />
    </application>
</manifest>