<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="com.htc.bg.uid.shared" android:versionCode="305238311" android:versionName="3.5.2122363312.238311" package="com.htc.opensense"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="@string/app_name">
        <service android:name=".pluginmanager.RegisterService" />
        <receiver android:name=".pluginmanager.RegisterReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <provider android:name=".pluginmanager.PluginProvider" android:writePermission="htc.pluginmanager.permission.USE_PROVIDER" android:process="com.htc.bgp" android:authorities="com.htc.opensense.plugin" />
        <provider android:name=".cachemanager.CacheProvider" android:writePermission="htc.pluginmanager.permission.USE_PROVIDER" android:process="com.htc.bg" android:authorities="com.htc.cachemanager" />
        <provider android:name=".snprovider.SocialNetworkProvider" android:writePermission="htc.pluginmanager.permission.USE_PROVIDER" android:process="com.htc.bg" android:authorities="com.htc.opensense.snprovider" />
        <provider android:name=".syncprovider.SyncProvider" android:writePermission="htc.pluginmanager.permission.USE_PROVIDER" android:process="com.htc.bg" android:authorities="com.htc.settings.accountsync.SYNC" />
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="htc.pluginmanager.permission.USE_PROVIDER" />
    <uses-permission android:name="htc.pluginmanager.permission.USE_BROADCAST" />
    <permission android:label="usePluginManagerProvider" android:name="htc.pluginmanager.permission.USE_PROVIDER" android:protectionLevel="signatureOrSystem" />
    <permission android:label="useBroadcast" android:name="htc.pluginmanager.permission.USE_BROADCAST" android:protectionLevel="signatureOrSystem" />
</manifest>